.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  padding:0;
}

#App-header {
  background-color: #1d2638;
  height: 5vh;
  font-size: calc(10px + 2vmin);
}

.view-area{
  background-color: rgb(110, 43, 110);
  color:white;
  font-size: calc(10px + 2vmin);
  padding: 5vh 5vw;
  height:78vh;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  
}

#cardHeader {
  float:top;
  padding:0;
  margin:0;
  /*border: 5px solid black;*/
  
}

.active-cards {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  border: 8px solid green;
}


.cardQueue {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width:100%;
  height:10%;
  margin: 0;
  padding: 0;

  list-style-type: none;
  border: 5px solid black;
  
  list-style: none;
}
  /*
  display:flex;
  
  
  
  /*flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  width: 75vw;
  border: 1px solid black;
  align-items:center;
  display:inline*/
  

 .cardQueues li {
  margin-right:auto;
  width:40%;
  height:20%;
  
  margin:0;
  border: 5px solid black;
 }

 .fixIt {
  display: inline-block;
  width:100%;
  margin:0;
  border:5px solid red;

 }
  /*
  justify-content: center;
  align-items:center;
  color: #333;
  background-color: rgba(255,255,255,.5);
  width:10vw;
  height:10vh;
  padding: 4px;
  margin: 15px;
  border: 5px solid black;
  */
  

ul.cardQueues {
  padding: 0;
  width:100%;
  height:100%;
  border: 15px solid blue;
  
}

.card{
 /* margin: 10vh 10vw 10vh 10vw;*/
  display: flex;
  flex-direction: column;
  margin:0px;
  padding:0;
  width:100%;
  height:100%;
  border: 1px solid blue;
  
}

.word {
  font-size: 100%;
  width:100%;
  border: 2px solid blue;
}

.buttonbar {
  margin-top: auto;
  width:100%;
  height:2vh;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}

[class^="-button"], [class*="-button"] {
  font: normal 1em/1 Arial, sans-serif;
  display: block;
  font-size: 13px;
  padding-top: 0;
  
}

.lock-button:before{ content: "\2714"; }
.lock-button {
  background: yellowgreen;
  
}

.delete-button:before{ content: "\2716"; }
.delete-button {
  background: red;
  margin-left: auto;
  
}

.FuckThis {
  display: inline-block ;
  margin:5px;
  padding:0;
  border: 5px solid black;
  width: 100px;
  height: 100px;
  border:5px solid green;
  
}


.bottomBar {
  margin-top: auto;
  border:5px solid black;
}

 .bottomInput input {
  margin:0;
  padding: 0px;
  font-size: 14px;
  border: 2px solid #FFF;
  
}
 .bottomInput button {
  padding: 10px;
  font-size: 12px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  
}

 .bottomInput button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
  
}
 

.foot {
  background-color: #1d2638;
  height: 6vh;
  min-height: 1vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

